.hero-section {
  height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #2c3e50 0%, #4ca1af 100%); /* خلفية أغمق وأفتح */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title .highlight {
  color: #ffdd57;
}

.social-icons a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-width: 2px;
  border-color: #ffdd57;
  color: #ffdd57;
}

.social-icons a:hover {
  background-color: #ffdd57 !important;
  color: #2c3e50 !important;
}
.hero-buttons .active {
  background-color: #0d6efd !important;
  color: white !important;
  border-color: #0d6efd !important;
}

